* { 
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

}
@font-face {
    font-family: hola;
    src: url(../fonts/HappyMonkey-Regular.ttf);
}


.nav-link {
    color: rgb(71, 71, 246);
}

.navbar {
    font-size: 20px;
    transition: all 0.05s ease;
}

.fondo {
    background-image:url(../images/chill-vibe.gif);
    background-repeat: no-repeat;
    background-size: cover;

}
.tittlep{
    height: 10vh;
    font-family: hola;
    color: antiquewhite;
    background-color: rgba(11, 11, 11, 0.5);
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 4px 3px rgb(87, 86, 74);
    margin-top: 50px;
    border: 2px black;
}

.tittle {
    height: 10vh;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(232, 230, 227);
    text-shadow: 2px 4px 3px rgb(76, 114, 237);
    background-color: rgba(25, 25, 26, 0.5);
}

.content {

    background-color: rgba(25, 25, 26, 0.5);
    display: flexbox;
    justify-content: start;
    align-items: start;
    text-align: start;
    height: 25vh;
    color: rgb(237, 237, 229);
    font-size: 22px;

} 






